body {
    font-family: 'Montserrat', sans-serif;
}

main {
    min-height: 1000px;
}

h1 {
    font-weight: 600;
}

/* to justify text */
p {
    text-align: justify;
    text-justify: inter-word;
}

/* center card-body text */
.card-body p {
    text-align: center;
}

a {
    text-decoration: none;
}

/* style the icons in the footer */
footer a, footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #a0b4f2;
}

/* to remove the link look from workshop titles */
.workshops a {
    text-decoration: none;
    color: black;
}

.active{
    background-color: white !important;
    color: black !important;
}

/* Workshops Page */
time {
    font-size: 15px;
    font-weight: 600;
    color: #a0b4f2;
}

footer {
    min-height: 100px;
}

/* to prevent wide lines of text at md viewport (768-991) & xl */
.steps {
    max-width: 60ch;
}

.oddstep {
    background-color: black;
    color: white;
}


