body {
    font-family: 'Montserrat', sans-serif;
}

main {
    min-height: 1000px;
}

h1 {
    font-weight: 600;
}

/* to justify text */
p {
    text-align: justify;
    text-justify: inter-word;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #a0b4f2;
}

time {
    font-size: 15px;
    color: #f2b90f;
}

footer {
    min-height: 100px;
}

/* to prevent wide lines of text at md viewport (768-991) & xl */
.stepstext {
    max-width: 60ch;
}

.oddstep {
    background-color: black;
    color: white;
}